/.history
/.vscode
/data

## LLamaFactory directories
/LlamaFactory/data/mllm_demo_data/
/LlamaFactory/data/VideoEspresso/

/model
/outputs

## Unsloth directories
/unsloth/outputs
/unsloth_compiled_cache