/.history
/.vscode
/data

## LLamaFactory directories
/LlamaFactory/data/mllm_demo_data
/LlamaFactory/data/VideoEspresso
/LlamaFactory/data/something-something-v2
/LlamaFactory/data/UCF101
/LlamaFactory/outputs
/LlamaFactory/src/llamafactory/__pycache__
/LlamaFactory/src/llamafactory/*/__pycache__
/LlamaFactory/src/llamafactory/*/*/__pycache__
/LlamaFactory/tests/__pycache__
/LlamaFactory/tests/*/__pycache__
/LlamaFactory/.pytest_cache
/LlamaFactory/wandb
/LlamaFactory/llamaboard_cache

/model

## Unsloth directories
/unsloth/outputs
/unsloth_compiled_cache